<div class="container">
    <h1 class="mt-3">List of Usda Data</h1>

    <ng-container>
        <table class="table table-bordered mt-3">
            <thead>
                <th>State</th>
                <th>Year</th>
                <th>Value</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of usdaData">
                    <td>{{data.state_alpha}}</td>
                    <td>{{data.year}}</td>
                    <td>{{data.Value}}</td>
                    <td>
                        <a class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>