<div class="container">

  <app-pagetitle title="Charts from Dan's suggestions" subtitle="Using Apex Charts" pagetitle="Usda Data V2">
  </app-pagetitle>
  <p>Started on May 2nd, from a good discussion with Dan</p>
  <ul>
    <li><s>first goal is to display ethanol usage by year</s></li>
    <li><s>second goal is to display stockpiles by year</s></li>
    <li>Some charts correlating with price</li>
  </ul>
  <div class="row">
    <div class="d-flex flex-row">
      <div class="col-md-5">
        <h1>Compare Usda Data year to year</h1>
        <p>Select multiple years for comparison</p>
      </div>
      <div class="mx-1">
        <select class="form-select mt-2" aria-label="Default select example" (change)="onSelectCommodity($event)">
          <option selected>Commodity</option>
          <option value="CORN">Corn</option>
          <option value="SOYBEANS">Soybeans</option>
        </select>
      </div>
      <div class="mx-1" style="width: 10%;">
        <select class="form-select mt-2" aria-label="Default select example" (change)="onSelectMetric($event)">
          <option selected>Metric</option>
          <option value="AREA PLANTED">Acres Planted</option>
          <!-- <option value="AREA HARVESTED">Acres Harvested</option> -->
          <!-- <option value="CONDITION">Condition (excellent)</option> -->
          <option value="ETHANOL USAGE">Ethanol Usage</option>
          <!-- <option value="PRODUCTION">Production</option> -->
          <!-- <option value="PROGRESS">Progress - Emerged</option> -->
          <!-- <option value="RESIDUAL USAGE">Residual Usage</option> -->
          <option value="STOCKS">Stocks</option>
        </select>
      </div>
      <div class="mx-1">
        <select class="form-select multiple mt-2" aria-label="Default select example" (change)="onSelectYear($event)">
          <option selected>Years</option>
          <!-- <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option> -->
          <option value="2020">2020</option>
        </select>
      </div>
      <div class="mt-2 ">
        <button class="btn btn-primary mx-1"  *ngIf="!isLoading"
          (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedYear, selectedShortDesc)">Go</button>
        <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
          <span
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          Go...
        </button>
        <button class="btn btn-secondary mx-1" (click)="reload()">Refresh</button>
      </div>
    </div>
    
    <ng-container *ngIf="newUsdaData$">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body">
              <div *ngIf="isLoading" class="d-flex justify-content-center ">
                <h3>...loading</h3>
              </div>
              <ngb-progressbar *ngIf="isLoading"
                  [value]="75"
                  [striped]="true"
                  [animated]="true"
                ></ngb-progressbar>
              <img *ngIf="!isLoading" src="assets/images/zaner/zaner-ag-hedge-white-logo.svg" alt="Zaner Ag Hedge" height="70" style="background-color: #727cf5;" class="p-1">
              <div dir="ltr">
                <div>
                  <canvas id="linechart"></canvas>
                </div>
              </div>
            </div>
            <!-- end card body-->
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->
      </div>
      <!-- end row-->
    </ng-container>
  </div>